@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.signContainer * {
    box-sizing: border-box;
}

.register-bg body {
    background: #f6f6f6;
    background-image: url("../GoodFood/images/registerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.signContainer h1 {
    font-weight: bold;
    margin: 0;
}

.signContainer h2 {
    text-align: center;
}

.signContainer p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.signContainer span {
    font-size: 12px;
}

.signContainer a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.signContainer button {
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.signContainer button:active {
    transform: scale(0.95);
}

.signContainer button:focus {
    outline: none;
}

.signContainer button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.signContainer form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.signContainer input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.signContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 770px;
    height: 625px;
    max-width: 100%;
    min-height: 480px;
}

.form-signContainer {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
}

.sign-in-signContainer {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signContainer.right-panel-active .sign-in-signContainer {
    transform: translateX(100%);
}

.sign-up-signContainer {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.signContainer.right-panel-active .sign-up-signContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.signContainer-overlay-signContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.signContainer.right-panel-active .signContainer-overlay-signContainer {
    transform: translateX(-100%);
}

.signContainer-overlay {
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #000000);
    background: linear-gradient(to right, #000000, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signContainer.right-panel-active .signContainer-overlay {
    transform: translateX(50%);
}

.signContainer-overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signContainer-overlay-left {
    transform: translateX(-20%);
}

.signContainer.right-panel-active .signContainer-overlay-left {
    transform: translateX(0);
}

.signContainer-overlay-right {
    right: 0;
    transform: translateX(0);
}

.signContainer.right-panel-active .signContainer-overlay-right {
    transform: translateX(20%);
}

.social-signContainer {
    margin: 20px 0;
}

.social-signContainer a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
}

.register-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    padding: 10px 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
}

.nav-item a {
    font-size: 16px;
    font-weight: 700;
}

.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.scrollable-element {
    scrollbar-width: thin;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.readMore{
    padding: 90px 250px 30px 250px;
    text-align:center;
}
.articleImage{
    width:90%;
    height:500px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleHead{
    text-align:left;
    margin-left:90px;
    margin-right:90px;
}

.content-text{
    padding-top:10px;
    padding-left:100px;
    padding-right:100px;
    text-align:justify;
}

.contactTitle {
    padding-top: 20px;
    font-weight: bold;
    font-size: 64px;
  }
  
  .contactSubTitle {
    padding-top:10px;
    font-weight: bold;
    font-size: 28px;
  }
  
  .contactDetail1 {
    font-size: 30px;
  }
  
  .contactDetail2 {
    color:#000000;
    font-size: 20px;
    text-decoration: none;
  }
  
  .contactDetail3 {
    font-weight: bold;
    font-size: 25px;
  }
  
  .contactLayout1 {
    margin:auto;
    margin-left: 150px;
  }

  .shopContainer {
    overflow: hidden;
  }
  
  .filterDiv {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  .btnFilter {
    background-color: rgba(102, 102, 102, 0);
    border:0;
    cursor: pointer;
  }
  
  /* Add a dark background to the active button */
  .btnFilter.active {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .readMore{
    width:100%;
    text-align:center;
    background-image:url(../GoodFood//images/bg.png);
}

.countDownTimer{
    display:flex;
    justify-content:space-between;
    padding-top:50px;

}

.countDownTimer div{
    flex-basis:250px;
    border-radius: 25px;
    background-color:rgba(255,255,255,.2);
    padding:20px;
    width:20em;
    height:15em;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.2);
}

.countDownTimer p{
    font-size:100px;
    margin-bottom:-14px;
}
